build_info.json

^crazyflie-firmware/bin/dep/all
crazyflie-firmware/bin/*
crazyflie-firmware/.cproject
crazyflie-firmware/.project
crazyflie-firmware/.settings/*
*~
crazyflie-firmware/tools/make/config.mk
crazyflie-firmware/cflie.*
crazyflie-firmware/version.c

crazyflie-firmware/cf2.*
crazyflie-firmware/cf1.*
*.gch

crazyflie-firmware/generated-test/**

crazyflie-firmware/simulink-model/crazyflie_controller_ert_rtw/
crazyflie-firmware/simulink-model/slprj/

crazyflie-firmware/src/modules/interface/crazyflie_controller.h
crazyflie-firmware/src/modules/interface/crazyflie_controllerModel.h
crazyflie-firmware/src/modules/interface/rtmodel.h
crazyflie-firmware/src/modules/interface/rtwtypes.h
crazyflie-firmware/src/modules/src/crazyflie_controller.c
crazyflie-firmware/src/modules/src/crazyflie_controllerModel.c

